@font-face {
  font-family: 'Apercu';
  src: url('ApercuPro.eot'); /* IE9 Compat Modes */
  src: url('ApercuPro.otf') format('opentype'), /* Super Modern Browsers */
       url('ApercuPro.woff2') format('woff2'), /* Super Modern Browsers */
       url('ApercuPro.woff') format('woff'), /* Pretty Modern Browsers */
       url('ApercuPro.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ApercuPro.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('ApercuPro-Mono.eot'); /* IE9 Compat Modes */
  src: url('ApercuPro-Mono.woff2') format('woff2'), /* Super Modern Browsers */
       url('ApercuPro-Mono.woff') format('woff'), /* Pretty Modern Browsers */
       url('ApercuPro-Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ApercuPro-Mono.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'FF Tisa Web';
  src: url('ff-tisa-web-pro.eot'); /* IE9 Compat Modes */
  src: url('ff-tisa-web-pro.woff2') format('woff2'), /* Super Modern Browsers */
       url('ff-tisa-web-pro.woff') format('woff'), /* Pretty Modern Browsers */
       url('ff-tisa-web-pro.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Colors */
.green {
  color: #1abc9c;
}
.green-darker {
  color: #21897e;
}
.baby-blue {
  color: #7ebce6;
}
.purple {
  color: #8980f5;
}

body {
  font-family: "Apercu", "Apercu Mono", "FF Tisa Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "onum";
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

svg {
  top: 0;
  z-index: -1;
   position:fixed; top:0; left:0; height:100%; width:100%;
}


/* Main Styling */
a, a:active, a:visited {
  color: #1abc9c;
  text-decoration: none;
  /*transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;*/
}

a:hover:not(.button), a:focus:not(.button) {
  color: #8980f5;
  border-bottom: 1px solid #8980f5;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.05);
}

::selection {
  background: rgba(0, 0, 0, 0.05);
}

section {
  padding: 8vh 0;
}
section.grey {
  background: #f5f5f5;
}
section .img-container {
  text-align: center;
  padding: 5%;
  border: 2px solid #ddd;
}
section img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
/*
section:not(#hero) {
  margin-top: 200px;
}*/

header {
  margin: 50px auto;
}

header nav {
  text-align: center;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5%;
  text-transform: uppercase;
  font-size: 0.8em;
}

section#hero {
  padding-top: 0vh;
  margin-top: 150px;
}

h1.heading {
  font-size: 2em;
  margin-top: 0;
}

#hero h1.heading {
  font-size: 3em;
  margin-bottom: 30px;
}

#hero h2.subhead {
  color: #aaa;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0;
  width: 90%;
}

.buttons {
  margin-top: 50px;
}

.no-m {
  margin: 0;
}

.event-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 5%;
  width: auto;
  margin-bottom: 20px;
}

.event-card h3, p {
  margin: 2.5px 0;
}

.button {
  padding: 10px 30px;
  text-align: center;
  font-family: "Apercu";
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #fff;
  border: 2.5px solid #aaa;
  font-size: 0.9em;
  font-weight: 800;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
}

.button {
  color: #aaa;
  margin-right: 10px;
}

.button:hover {
  color: #888;
  border-color: #888;
}

.button.cta {
  background: #1abc9c;
  color: #fff;
  border-color: #1abc9c;
}

a.button.cta:hover {
  background: #8980f5;
  color: #fff;
  border-color: #8980f5;
}

@media only screen and (max-width: 960px) {
  .button {
    display: block;
  }
}

#contact .map {
  border: 5px solid #1abc9c;
  overflow: hidden;
}

.contact-link  {
  display: block;
}

footer {
  background: #fff;
  padding: 5vh 0;
}
